*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  background-color: crimson;
}

.card{

width:700px;
background: #ccc;
margin:20px ;
padding: 20px;
line-height:28px ;

}

::-webkit-scrollbar{
  background-color: #ccc;
  width: 15px;
  border-radius: 5px;


}

::-webkit-scrollbar-thumb{
  background: linear-gradient(#F4D03F,#16A085);
  border-radius: 5px;
}