*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  background-color: crimson;
}

.card{

width:700px;
background: #ccc;
margin:20px ;
padding: 20px;
line-height:28px ;

}